@font-face {
  font-family: 'Yeon Sung';
  src: url(./YeonSung-Regular.ttf);
}

:root {
  --modal-color: rgba(255, 255, 255, 0.9);
  --modal-color-1: rgba(255, 255, 255, 1);
  --primary-text-color: white;
  --secondary-text-color: black;
  --width: 80vw;
  --accent-color: none;
  --width-message: 700px;

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-family: 'Yeon Sung';
  scroll-behavior: smooth;
}




body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(./img/crests/hogwarts-school-1.png); */
  background-image: linear-gradient(to bottom, #ffffffb8, rgb(41, 39, 39)), url(./img/crests/hogwarts-school-1.png);

  background-position: center;
  background-repeat: no-repeat;

}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 20;

}

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  height: 100%;
}

.bg-container {
  padding: 2vw;

  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.bg-container-1-2 {
  grid-area: 1/1/span 1/ span 1;
}

.overlay[data-opened="open"] .bg-container-1-2 {
  animation: moveLeft 1.5s ease-in-out forwards 1;
}

.overlay[data-opened="open"] .bg-container-4-5 {
  animation: moveright 1.5s ease-in-out forwards 1;
}


.overlay[data-opened="open"] .bg-3 {
  animation: moveDown 1.5s 0.5s ease-in-out forwards 1;
}

.overlay[data-closed="close"] {
  display: none;
}


@keyframes moveLeft {
  100% {
    transform: translateX(-100%);
  }
}


.bg-1 {
  /* grid-area: 1/1/ span 1/ span 1; */

  background-image: url(./img/crests/griff-1.png);
}

.bg-2 {
  /* grid-area: 2/1/ span 1/ span 1; */
  background-image: url(./img/crests/huff-1.png);

}

.maincrestContainer {
  background-color: white;
  box-shadow: 1px 1px 1px 1px lightgrey;

  z-index: 1;
  padding: 1vw;
  /* border-radius: 30px; */
  cursor: pointer;
  animation: pulse 0.5s ease-in-out infinite alternate;
}


@keyframes pulse {
  100% {
    box-shadow: 1px 1px 5px 5px lightgrey;

  }

}

.mainCrest {
  height: 15vw;
  object-fit: contain;

}


.bg-3 {
  grid-area: 1/1/ span 1/ span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffa1;
  z-index: 3;
}


@keyframes moveDown {
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}


.bg-container-4-5 {
  grid-area: 1/2/span 1/ span 1;

}

@keyframes moveright {
  100% {
    transform: translateX(100%);
  }
}

.bg-4 {
  /* grid-area: 1/2/ span 1/ span 1; */
  background-image: url(./img/crests/rav-1.png);

}

.bg-5 {
  /* grid-area: 2/2/ span 1/ span 1; */
  background-image: url(./img/crests/sly-1.png);

}


.mainContainer {
  width: var(--width);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 100%;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  font-family: 'Yeon Sung', sans-serif;
  color: white;
  background-color: var(--accent-color);
  box-shadow: 1px 1px 1px 2px grey;
  color: black;
}

h1 {
  font-size: 1vw;
}

.schoolLogo {
  height: 2vw;
  margin: 1vw;
}


.mediumContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.searchFieldContainer {
  width: 64%;
}

.studentsList {
  color: white;
  margin: 1rem 0;
  width: 80%;
  height: 60vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.studentsList::-webkit-scrollbar {
  width: 1vw;
}

.studentsList::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}



.student {
  width: 80%;
  --modal-color: #372e29f6;
  --modal-color-1: #372e29;
  margin: 1vw 0;
  height: 4vw;
  background-color: white;
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr);
  /* border-radius: 10px; */
  grid-gap: 1vw;
  align-items: center;
  color: black;
  box-shadow: 1px 1px 1px 1px grey;
}


.student[data-show="noshow"] {
  display: none;
}

.student[data-show="show"] {
  display: grid;
}

.search {
  font-size: 1.5vw;
  /* border-radius: 15px; */
  padding: 0 1vw;
}

input[type="radio"] {
  display: none;
}

.inputContainer label[data-status="checked"]:before,
.prefectInputContainer[data-status="checked"] label:before {
  background-image: url(./icons/borders-2.svg);
}


label:before {
  /*styles outer circle*/
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  background-image: url(./icons/non-color.svg);
  background-size: contain;
  /* border-radius: 11px; */
  transition: background-image 0.5s linear;
}


label:hover:before {
  background-image: url(./icons/borders.svg);
}

.listNumber {
  justify-self: flex-end;

}

.filterBtn {
  background-image: url(./icons/filter.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 5vh;
  width: 5vh;
  position: fixed;
  left: 1vw;
  margin: 2vw;
  transition: background-image 0.3s ease-in-out;
  z-index: 10;
}

.filterBtn:hover {
  background-image: url(./icons/selective.svg);
}


.mainContainer .filterBtn[data-active="active"] {
  background-image: url(./icons/selective.svg);
}



.smallContainer {
  display: none;
  padding: 8vh 3vw;
  height: 83vh;
  justify-self: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  box-shadow: 1px 0px 0px 0px lightgrey;
  /* animation:
    displayNone 0.3s 1.5s ease-in forwards 1; */
}

.studentFact {
  text-decoration: none;
}



.detailedInfo h3 {
  font-size: 1vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* margin: 1vh 0; */

}

.detailedInfo .studentFact span {
  font-size: 1.5vw;
  border-bottom: 1px solid black;
  width: -webkit-fill-available;
}


.mainContainer .filterBtn[data-active="active"]+.smallContainer {
  display: flex;
  animation: slideFromLeft .5s ease-in-out forwards 1;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100vw);
  }
}

.part {
  margin: 1.5vw 0;
}

.part div {
  margin: 1vw 0;
}



.bgStudentModal {
  padding: 0.5vw;
  transform: skew(10deg, 10deg);
  background: linear-gradient(0.45turn, var(--modal-color), var(--secondary-text-color));

}



.modalContainer {
  position: fixed;
  height: 100vh;
  /* transform: translate(10px, 10px); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: #c3c3c3d1;
  display: none;
  z-index: 100;
}

.crest {
  background-image: var(--crest-bg-image);
}


.prefectPin {
  display: none;
  background-image: var(--prefect-bg-image);

}

.modalContainer[data-crest="slytherin"] {
  display: flex;
  --modal-color: #5d5d5d;
  --secondary-text-color: #1a472a;
  --crest-bg-image: url(./img/crests/sly.png);
  --prefect-bg-image: url(./img/perfects/perfects-sly.png);
}

.modalContainer[data-crest="gryffindor"] {
  display: flex;
  --modal-color: #d3a625f6;
  --secondary-text-color: #740001;
  --crest-bg-image: url(./img/crests/griff.png);
  --prefect-bg-image: url(./img/perfects/perfects-gryff.png);
}

.modalContainer[data-crest="ravenclaw"] {
  display: flex;
  --modal-color: #222f5bf6;
  --secondary-text-color: #946b2d;
  --crest-bg-image: url(./img/crests/rav.png);
  --prefect-bg-image: url(./img/perfects/perfects-rave.png);

}


.modalContainer[data-crest="hufflepuff"] {
  display: flex;
  --modal-color: #372e29f6;
  --secondary-text-color: #ecb939;
  --crest-bg-image: url(./img/crests/huff.png);
  --prefect-bg-image: url(./img/perfects/perfetcs-huff.png);
}


.modal {
  transform: skew(-10deg, -10deg);
  display: grid;
  grid-template-columns: 20% 37% 37%;
  grid-gap: 3%;
  background-color: white;
  color: black;
  width: var(--width-message);
  padding: 5vh;
}

img {
  object-fit: contain;
}

.modalImage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
}

.student h3 {
  font-size: 2vh;
}

.student[data-show="show"] {
  display: grid;
}


.student[data-show="show"] {
  display: grid;
}


.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.badge {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}


.modalImage[data-expelled="expelled"]:after {
  content: "Expelled";
  position: absolute;
  transform: rotate(-49deg);
  font-size: 5vw;
  color: red;
  animation: expell 1s ease-in forwards 1;
}

.modalImage[data-expelled="true"]:after {
  content: "Expelled";
  position: absolute;
  transform: rotate(-49deg);
  font-size: 5vw;
  color: red;
}



@keyframes expell {
  0% {
    transform: scale(5);
  }
}

.actions[data-expelled="expelled"] .actionBtn {
  opacity: 0.3;
  color: grey;
  pointer-events: none;

}


.detailedInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





.actions {
  grid-area: 2/1/ span 1/ span 3;
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 3vh;
}


.actions .actionBtn {
  width: 150px;
  height: 5vw;
  text-align: center;
  font-size: 1.5vw;
  box-shadow: 1px 1px 1px 1px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.expell {
  color: #ff0000;
}

html[data-indre="true"] {
  cursor: none;
  pointer-events: none;
}

.setAsPerfect {
  color: green;
}



.addToInquisitorialSquad {
  color: purple;

}


footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: var(--accent-color);
  color: white;
  box-shadow: 1px 1px 5px 1px lightgrey;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
}

.messagecontainer,
.prefectsMessageContainer {
  position: absolute;
  display: none;

}



.message {
  width: var(--width-message);
  background-color: white;
  flex-direction: column;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.messagecontainer[data-show="show"],
.prefectsMessageContainer[data-show="show"] {
  display: block;
}




.message h3 {
  padding: 3vw;
}

.message h4 {
  margin: 0.5vw;

}

.studentImg {
  width: 100%;
}

.okBtn,
.confirmChoice {
  margin: 3vw;
  background-color: green;
  color: white;
  height: 5vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px lightgrey;
}


.hack {
  border: navajowhite;
  background: none;
  margin: 0 2vh;
}

.hack img {
  height: 5vh;
  background-color: red;
}

.memeContainer {
  display: none;
}

.memeContainer[data-active="true"] {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  display: block;
  z-index: 300;
}

.memeImg {
  --x-position: 30;
  --y-position: 60;
  --animation-timing: 1s;
  height: 30vh;
  animation: moveImage calc(var(--animation-timing) * 1s) ease-in-out alternate-reverse infinite;
  opacity: 0;
  transform: translate(calc(var(--x-position) * 1vw), calc(var(--y-position) * 1vh));
}


@keyframes moveImage {

  100% {
    opacity: 1;

  }
}


@media only screen and (max-width: 800px) {
  :root {
    --width-message: 600px;

  }

  .modal {
    padding: 3vh;
  }

  .detailedInfo .studentFact span {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 650px) {
  :root {
    --width-message: 450px;

  }

  .modal {
    padding: 2vh;
  }

  .mainContainer {
    width: 100vw;
  }

}



@media only screen and (max-width: 550px) {
  :root {
    --width-message: 400px;

  }

  .modal {
    padding: 2vh;
  }

  .mainContainer {
    width: 100vw;
  }

  .detailedInfo .studentFact span {
    font-size: 3vw;
  }

  .detailedInfo h3 {
    font-size: 2vw;
  }


  .student h3 {
    font-size: 1vh;
  }

  .li {
    font-size: 2vw;
  }
}